/* ========== CSS RESET START ========== */
* {
    margin: 0;
    padding: 0;
}
/* ========== CSS RESET END ========== */

html {
    scroll-behavior: smooth;
}
body {
    min-width: 1920px;
    height: 2000px;
}

/* ========== NAVIGATION BAR START ========== */
header {
    height: 70px;
    width: 100%;
    background-color: #FFDEB4;
    position: sticky;
    top: 0;
}
nav {
    height: 70px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: max-content auto max-content;
    align-items: center;
}
.logo a {
    display: block;
    font-family: 'Black Ops One', cursive;
    font-size: 40px;
    text-decoration: none;
    height: 70px;
    line-height: 70px;
    line-height: 70px;
    padding: 0 15px;
    color: #404040;
}
.nav-container {
    height: 70px;
    display: flex;
    gap: 25px;
}
.nav-button-container {
    height: 70px;
    width: fit-content;
}
.nav-button-container a {
    display: inline-block;
    height: 65px;
    line-height: 65px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #404040;
}
.underLine {
    height: 5px;
    width: 0;
    background-color: #FFB4B4;
    transition: 0.5s;
}
.nav-button-container:hover .underLine {
    width: 100%;
}
/* ========== NAVIGATION BAR END ========== */


/* ========== SECTION HOME START ========== */
.home {
    width: 90%;
    height: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    /* background-color: aquamarine; */
}
.greeting-container h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #404040;
}
.greeting-container h1 .calCredit {
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
    font-weight: 400;
}
.greeting-container p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22.5px;
    font-weight: 500;
    color: #404040;
}
.greeting-container p span {
    font-family: 'Black Ops One', cursive;
}
.home-button-container {
    height: 45px;
    width: fit-content;
    display: flex;
    gap: 20px;
}
.home-button-container a {
    height: 45px;
    padding: 0 15px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    line-height: 45px;
    background-color: #FFDEB4;
    border-radius: 10px;
    transition: 0.5s;
    color: #404040;
}
.home-button-container a:hover {
    scale: 1.01;
    box-shadow: 2px 2px 2.5px rgba(50, 50, 50, 0.25);
}
.img-container img {
    width: 800px;
}
/* ========== SECTION HOME END ========== */



/* ========== SECTION CALCULATOR START ========== */
#calculator-section {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}
#calculator-section h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
#calculator-section h1 span {
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
    font-weight: 400;
}
.calculator-container {
    width: 100%;
    height: 700px;
    border-radius: 15px;
    border-bottom: 4px solid #FFB4B4;
    border-right: 4px solid #FFB4B4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 3fr 5px 7fr;
    gap: 35px;
    padding: 0 35px;
}
.separator-line {
    width: 5px;
    height: calc(100% - 60px);
    margin: auto 0;
    background-color: #FFB4B4;
    border-radius: 15px;
}
.input-container {
    height: calc(100% - 60px);
    margin: auto 0;
    /* background-color: #B0DAFF; */
}
#label {
    font-family: 'Lalezar', cursive;
    font-size: 35px;
    font-weight: 400;
    color: #404040;
    display: block;
}
.calculator-input {
    height: 40px;
    width: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    font-weight: 700;
    border: none;
    border-bottom: 3px solid #FFB4B4;
    outline: none;
    /* background-color: aqua; */
}
#calculator-button {
    width: 150px;
    height: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 37.5px;
    background-color: #FFB4B4;
    border: none;
    border-radius: 5px;
    color: #404040;
    /* transition: 0.35s; */
}
#calculator-button:hover {
    /* scale: 1.05; */
    cursor: pointer;
    box-shadow: 0.75px 0.75px 2px rgba(0,  0, 0, 0.25);
    background-color: white;
    border: 2px solid #FFB4B4;
}
#calculator-button:active {
    background-color: #FFB4B4;
    cursor: pointer;
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.25);
}
.input-container h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.input-container h2 span {
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    font-weight: 400;
}
.input-container ol {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-left: 15px;
}
.output-container {
    height: calc(100% - 60px);
    margin: auto 0;
    /* background-color: #B0DAFF; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}
.method-container {
    width: 100%;
    /* background-color: salmon; */
    display: grid;
    grid-template-rows: 60px auto;
    gap: 15px;
}
.method-container h2 {
    font-family: 'Lalezar', cursive;
    font-size: 47.5px;
    font-weight: 400;
    color: #404040;
    /* background-color: antiquewhite; */
}
.output {
    width: 100%;
    /* background-color: salmon; */
    display: grid;
    grid-template-columns: 4.4fr 4.4fr 1.2fr;
    gap: 30px;
}
.amount-container, .details-container {
    height: 100%;
    border-bottom: 3px solid #FFB4B4;
    border-right: 3px solid #FFB4B4;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.amount-container h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #404040;
}
.amount-container h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #404040;
}
.details-container h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #404040;
}
.details-container img {
    width: 55px;
}